# Node.js dependencies
node_modules/

# Output directories
dist/
build/

# Environment variables
.env
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.jest/

# WebStorm project files
.idea/

# OS system files
.DS_Store
Thumbs.db

# Editor swap/backup files
*.swp
*.swo

# Cache
.cache/
